<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>2015</key>
	<dict>
		<key>period</key>
		<dict>
			<key>1-autumn-term</key>
			<dict>
				<key>end</key>
				<dict>
					<key>year</key>
					<integer>2016</integer>
					<key>day</key>
					<integer>3</integer>
					<key>month</key>
					<integer>1</integer>
				</dict>
				<key>start</key>
				<dict>
					<key>year</key>
					<integer>2016</integer>
					<key>day</key>
					<integer>14</integer>
					<key>month</key>
					<integer>9</integer>
				</dict>
			</dict>
			<key>2-autumn-exam</key>
			<dict>
				<key>start</key>
				<dict>
					<key>year</key>
					<integer>2016</integer>
					<key>day</key>
					<integer>2</integer>
					<key>month</key>
					<integer>1</integer>
				</dict>
				<key>end</key>
				<dict>
					<key>year</key>
					<integer>2016</integer>
					<key>day</key>
					<integer>13</integer>
					<key>month</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>3-winter-vacation</key>
			<dict>
				<key>start</key>
				<dict>
					<key>year</key>
					<integer>2016</integer>
					<key>day</key>
					<integer>16</integer>
					<key>month</key>
					<integer>1</integer>
				</dict>
				<key>end</key>
				<dict>
					<key>year</key>
					<integer>2016</integer>
					<key>day</key>
					<integer>27</integer>
					<key>month</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>4-spring-term</key>
			<dict>
				<key>start</key>
				<dict>
					<key>year</key>
					<integer>2016</integer>
					<key>day</key>
					<integer>29</integer>
					<key>month</key>
					<integer>2</integer>
				</dict>
				<key>end</key>
				<dict>
					<key>year</key>
					<integer>2016</integer>
					<key>day</key>
					<integer>19</integer>
					<key>month</key>
					<integer>6</integer>
				</dict>
			</dict>
			<key>5-spring-exam</key>
			<dict>
				<key>start</key>
				<dict>
					<key>year</key>
					<integer>2016</integer>
					<key>day</key>
					<integer>20</integer>
					<key>month</key>
					<integer>6</integer>
				</dict>
				<key>end</key>
				<dict>
					<key>year</key>
					<integer>2016</integer>
					<key>day</key>
					<integer>3</integer>
					<key>month</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>6-summer-term</key>
			<dict>
				<key>start</key>
				<dict>
					<key>year</key>
					<integer>2016</integer>
					<key>day</key>
					<integer>4</integer>
					<key>month</key>
					<integer>7</integer>
				</dict>
				<key>end</key>
				<dict>
					<key>year</key>
					<integer>2016</integer>
					<key>day</key>
					<integer>29</integer>
					<key>month</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>7-summer-vacation</key>
			<dict>
				<key>start</key>
				<dict>
					<key>year</key>
					<integer>2016</integer>
					<key>day</key>
					<integer>30</integer>
					<key>month</key>
					<integer>7</integer>
				</dict>
			</dict>
		</dict>
		<key>end</key>
		<dict>
			<key>year</key>
			<integer>2016</integer>
			<key>day</key>
			<integer>29</integer>
			<key>month</key>
			<integer>7</integer>
		</dict>
		<key>start</key>
		<dict>
			<key>year</key>
			<integer>2015</integer>
			<key>day</key>
			<integer>14</integer>
			<key>month</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>2016</key>
	<dict>
		<key>period</key>
		<dict>
			<key>1-autumn-term</key>
			<dict>
				<key>end</key>
				<dict>
					<key>year</key>
					<integer>2017</integer>
					<key>day</key>
					<integer>1</integer>
					<key>month</key>
					<integer>1</integer>
				</dict>
				<key>start</key>
				<dict>
					<key>year</key>
					<integer>2016</integer>
					<key>day</key>
					<integer>12</integer>
					<key>month</key>
					<integer>9</integer>
				</dict>
			</dict>
			<key>2-autumn-exam</key>
			<dict>
				<key>start</key>
				<dict>
					<key>year</key>
					<integer>2017</integer>
					<key>day</key>
					<integer>2</integer>
					<key>month</key>
					<integer>1</integer>
				</dict>
				<key>end</key>
				<dict>
					<key>year</key>
					<integer>2017</integer>
					<key>day</key>
					<integer>13</integer>
					<key>month</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>3-winter-vacation</key>
			<dict>
				<key>start</key>
				<dict>
					<key>year</key>
					<integer>2017</integer>
					<key>day</key>
					<integer>14</integer>
					<key>month</key>
					<integer>1</integer>
				</dict>
				<key>end</key>
				<dict>
					<key>year</key>
					<integer>2017</integer>
					<key>day</key>
					<integer>26</integer>
					<key>month</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>4-spring-term</key>
			<dict>
				<key>start</key>
				<dict>
					<key>year</key>
					<integer>2017</integer>
					<key>day</key>
					<integer>27</integer>
					<key>month</key>
					<integer>2</integer>
				</dict>
				<key>end</key>
				<dict>
					<key>year</key>
					<integer>2017</integer>
					<key>day</key>
					<integer>18</integer>
					<key>month</key>
					<integer>6</integer>
				</dict>
			</dict>
			<key>5-spring-exam</key>
			<dict>
				<key>start</key>
				<dict>
					<key>year</key>
					<integer>2017</integer>
					<key>day</key>
					<integer>19</integer>
					<key>month</key>
					<integer>6</integer>
				</dict>
				<key>end</key>
				<dict>
					<key>year</key>
					<integer>2017</integer>
					<key>day</key>
					<integer>2</integer>
					<key>month</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>6-summer-term</key>
			<dict>
				<key>start</key>
				<dict>
					<key>year</key>
					<integer>2017</integer>
					<key>day</key>
					<integer>3</integer>
					<key>month</key>
					<integer>7</integer>
				</dict>
				<key>end</key>
				<dict>
					<key>year</key>
					<integer>2017</integer>
					<key>day</key>
					<integer>28</integer>
					<key>month</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>7-summer-vacation</key>
			<dict>
				<key>start</key>
				<dict>
					<key>year</key>
					<integer>2017</integer>
					<key>day</key>
					<integer>29</integer>
					<key>month</key>
					<integer>7</integer>
				</dict>
			</dict>
		</dict>
		<key>end</key>
		<dict>
			<key>year</key>
			<integer>2017</integer>
			<key>day</key>
			<integer>29</integer>
			<key>month</key>
			<integer>7</integer>
		</dict>
		<key>start</key>
		<dict>
			<key>year</key>
			<integer>2016</integer>
			<key>day</key>
			<integer>12</integer>
			<key>month</key>
			<integer>9</integer>
		</dict>
	</dict>
</dict>
</plist>
